.timeline {
    border-left: 3px solid hsl(0, 0%, 64%);
    position: relative;
    list-style: none;
  }
  
  .timeline .timeline-item {
    position: relative;
  }
  
  .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .timeline-item:after {
    background-color: hsl(208, 97%, 15%);
    left: -39px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
  }